<app-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="refreshList()" (viewChange)="refreshList()">
</app-calendar-header>

<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                             [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                             (eventClicked)="eventClicked($event.event)"
                             [excludeDays]="[0]">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
                            (eventClicked)="eventClicked($event.event)"
                            [dayStartHour]="6" [dayEndHour]="20" [excludeDays]="[0]">

    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
                           (eventClicked)="eventClicked($event.event)"
                           [dayStartHour]="6" [dayEndHour]="20">
    </mwl-calendar-day-view>
  </div>
</div>






<ng-template appAttachTo="header">
  <app-top-profile [placeName]="placeName"></app-top-profile>
</ng-template>

<ng-template appAttachTo="footer">
</ng-template>
