<form [formGroup]="postForm" (ngSubmit)="submitPost()" *ngIf="postForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Add Teacher</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">




    <mat-form-field appearance="outline">
      <mat-label>FirstName</mat-label>
      <input matInput formControlName="firstName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>LastName</mat-label>
      <input matInput formControlName="lastName" required>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
      <mat-label>Login</mat-label>
      <input matInput formControlName="username" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint >Password</mat-hint>
    </mat-form-field>








  </div>

  <div class="modal-footer">
    <div>{{message}}</div>
    <br>
    <button mat-raised-button type="button" class="btn btn-primary m-2"
            (click)="modal.dismiss('cancel click')"
            [disabled]="teacherEditedSaved">Cancel</button>
    <button mat-raised-button type="submit" class="btn btn-primary m-2"
            [disabled]="teacherEditedSaved" >Save Edition Teacher</button>
  </div>

</form>



