<mat-drawer-container class="app-container" autosize>


  <mat-drawer #drawer class="app-sidenav" mode="side" opened="true">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="app-sidenav-content">

    <div class="content">

      <div >
        <button class="btn-primary mr-2" mat-raised-button (click)="drawer.toggle()">
          Menu
        </button>
      </div>
      <div>
        <app-navbar></app-navbar>
      </div>
    </div>

    <router-outlet></router-outlet>

    <mat-toolbar>
      <app-footer></app-footer>
    </mat-toolbar>

  </div>

</mat-drawer-container>

















